OPENAI_API_KEY=
ELEVENLABS_API_KEY=
OPENROUTER_API_KEY=
POCKETBASE_URL=http://pocketbase:8090
POCKETBASE_SUPERUSER_EMAIL=admin@manaforge.local
POCKETBASE_SUPERUSER_PASSWORD=changeme
VITE_API_BASE_URL=http://localhost:8000
VITE_POCKETBASE_URL=http://localhost:8090
